<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-experience-heading" data-cy="ExperienceCreateUpdateHeading" jhiTranslate="gdf1App.experience.home.createOrEditLabel">
        Créer ou éditer un Experience
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdf1App.experience.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_dateDebut" jhiTranslate="gdf1App.experience.dateDebut">Date Debut</label>
          <div class="input-group">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="text"
              class="form-control"
              name="dateDebut"
              ngbDatepicker
              #dateDebutDp="ngbDatepicker"
              formControlName="dateDebut"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDebutDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)) {
            <div>
              @if (editForm.get('dateDebut')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateFin" jhiTranslate="gdf1App.experience.dateFin">Date Fin</label>
          <div class="input-group">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="text"
              class="form-control"
              name="dateFin"
              ngbDatepicker
              #dateFinDp="ngbDatepicker"
              formControlName="dateFin"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)) {
            <div>
              @if (editForm.get('dateFin')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomEntreprise" jhiTranslate="gdf1App.experience.nomEntreprise">Nom Entreprise</label>
          <input
            type="text"
            class="form-control"
            name="nomEntreprise"
            id="field_nomEntreprise"
            data-cy="nomEntreprise"
            formControlName="nomEntreprise"
          />
          @if (editForm.get('nomEntreprise')!.invalid && (editForm.get('nomEntreprise')!.dirty || editForm.get('nomEntreprise')!.touched)) {
            <div>
              @if (editForm.get('nomEntreprise')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_posteOccupe" jhiTranslate="gdf1App.experience.posteOccupe">Poste Occupe</label>
          <input
            type="text"
            class="form-control"
            name="posteOccupe"
            id="field_posteOccupe"
            data-cy="posteOccupe"
            formControlName="posteOccupe"
          />
          @if (editForm.get('posteOccupe')!.invalid && (editForm.get('posteOccupe')!.dirty || editForm.get('posteOccupe')!.touched)) {
            <div>
              @if (editForm.get('posteOccupe')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_mission" jhiTranslate="gdf1App.experience.mission">Mission</label>
          <textarea class="form-control" name="mission" id="field_mission" data-cy="mission" formControlName="mission"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_eleve" jhiTranslate="gdf1App.experience.eleve">Eleve</label>
          <select class="form-control" id="field_eleve" data-cy="eleve" name="eleve" formControlName="eleve" [compareWith]="compareEleve">
            <option [ngValue]="null"></option>
            @for (eleveOption of elevesSharedCollection; track $index) {
              <option [ngValue]="eleveOption">{{ eleveOption.niveauEtude }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_etudiant" jhiTranslate="gdf1App.experience.etudiant">Etudiant</label>
          <select
            class="form-control"
            id="field_etudiant"
            data-cy="etudiant"
            name="etudiant"
            formControlName="etudiant"
            [compareWith]="compareEtudiant"
          >
            <option [ngValue]="null"></option>
            @for (etudiantOption of etudiantsSharedCollection; track $index) {
              <option [ngValue]="etudiantOption">{{ etudiantOption.carteEtudiant }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_professionnel" jhiTranslate="gdf1App.experience.professionnel">Professionnel</label>
          <select
            class="form-control"
            id="field_professionnel"
            data-cy="professionnel"
            name="professionnel"
            formControlName="professionnel"
            [compareWith]="compareProfessionnel"
          >
            <option [ngValue]="null"></option>
            @for (professionnelOption of professionnelsSharedCollection; track $index) {
              <option [ngValue]="professionnelOption">{{ professionnelOption.profession }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_demandeur" jhiTranslate="gdf1App.experience.demandeur">Demandeur</label>
          <select
            class="form-control"
            id="field_demandeur"
            data-cy="demandeur"
            name="demandeur"
            formControlName="demandeur"
            [compareWith]="compareDemandeur"
          >
            <option [ngValue]="null"></option>
            @for (demandeurOption of demandeursSharedCollection; track $index) {
              <option [ngValue]="demandeurOption">{{ demandeurOption.profil }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
