<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (dossier()) {
      <div>
        <h2 data-cy="dossierDetailsHeading"><span jhiTranslate="gdf1App.dossier.detail.title">Dossier</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ dossier()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.numDossier">Num Dossier</span></dt>
          <dd>
            <span>{{ dossier()!.numDossier }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.prenom">Prenom</span></dt>
          <dd>
            <span>{{ dossier()!.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.nom">Nom</span></dt>
          <dd>
            <span>{{ dossier()!.nom }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.nomUtilisateur">Nom Utilisateur</span></dt>
          <dd>
            <span>{{ dossier()!.nomUtilisateur }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.dateNaiss">Date Naiss</span></dt>
          <dd>
            <span>{{ dossier()!.dateNaiss | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.lieuNaiss">Lieu Naiss</span></dt>
          <dd>
            <span>{{ dossier()!.lieuNaiss }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.regionNaiss">Region Naiss</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomRegion.' + (dossier()!.regionNaiss ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                DIOURBEL: 'DIOURBEL',
                FATICK: 'FATICK',
                KAFFRINE: 'KAFFRINE',
                KAOLACK: 'KAOLACK',
                KEDOUGOU: 'KEDOUGOU',
                KOLDA: 'KOLDA',
                LOUGA: 'LOUGA',
                MATAM: 'MATAM',
                SAINT_LOUIS: 'SAINT_LOUIS',
                SEDHIOU: 'SEDHIOU',
                TAMBACOUNDA: 'TAMBACOUNDA',
                THIES: 'THIES',
                ZIGINCHOR: 'ZIGINCHOR',
                AUTRE: 'AUTRE'
              }[dossier()!.regionNaiss ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.departementNaiss">Departement Naiss</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomDepartement.' + (dossier()!.departementNaiss ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                GUEDIAWAYE: 'GUEDIAWAYE',
                PIKINE: 'PIKINE',
                RUFISQUE: 'RUFISQUE',
                BAMBAEY: 'BAMBAEY',
                DIOURBEL: 'DIOURBEL',
                MBACKE: 'MBACKE',
                FATICK: 'FATICK',
                FOUNDIOUGNE: 'FOUNDIOUGNE',
                GOSSAS: 'GOSSAS',
                BIRKILANE: 'BIRKILANE',
                KAFFRINE: 'KAFFRINE',
                KOUNGHEUR: 'KOUNGHEUR',
                MALEM_HODAR: 'MALEM_HODAR',
                GUINGUINEO: 'GUINGUINEO',
                KAOLOACK: 'KAOLOACK',
                NIORO: 'NIORO',
                KEDOUGOU: 'KEDOUGOU',
                SALAMATA: 'SALAMATA',
                SARAYA: 'SARAYA',
                KOLDA: 'KOLDA',
                MEDINA_YORO_FOULAH: 'MEDINA_YORO_FOULAH',
                VELINGARA: 'VELINGARA',
                KEBEMERE: 'KEBEMERE',
                LINGUERE: 'LINGUERE',
                LOUGA: 'LOUGA',
                KANELKANEL: 'KANELKANEL',
                MATAM: 'MATAM',
                RANEROU_FERLO: 'RANEROU_FERLO',
                DAGANA: 'DAGANA',
                PODOR: 'PODOR',
                SAINT_LOUIS: 'SAINT_LOUIS',
                BOUNKILING: 'BOUNKILING',
                GOUDOMP: 'GOUDOMP',
                SEDHIOU: 'SEDHIOU',
                BAKEL: 'BAKEL',
                GOUDIRY: 'GOUDIRY',
                KOUMPENTOUM: 'KOUMPENTOUM',
                TAMBACOUNDA: 'TAMBACOUNDA',
                MBOUR: 'MBOUR',
                THIES: 'THIES',
                TIVAOUANE: 'TIVAOUANE',
                BIGNONA: 'BIGNONA',
                OUSSOUYE: 'OUSSOUYE',
                ZICHUINCHOR: 'ZICHUINCHOR',
                AUTRE: 'AUTRE'
              }[dossier()!.departementNaiss ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.typePiece">Type Piece</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.TypePiece.' + (dossier()!.typePiece ?? 'null')">{{
              { null: '', CNI: 'CNI', PASSEPORT: 'PASSEPORT' }[dossier()!.typePiece ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.numeroPiece">Numero Piece</span></dt>
          <dd>
            <span>{{ dossier()!.numeroPiece }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.sexe">Sexe</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.Sexe.' + (dossier()!.sexe ?? 'null')">{{
              { null: '', HOMME: 'HOMME', FEMME: 'FEMME' }[dossier()!.sexe ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.regionResidence">Region Residence</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomRegion.' + (dossier()!.regionResidence ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                DIOURBEL: 'DIOURBEL',
                FATICK: 'FATICK',
                KAFFRINE: 'KAFFRINE',
                KAOLACK: 'KAOLACK',
                KEDOUGOU: 'KEDOUGOU',
                KOLDA: 'KOLDA',
                LOUGA: 'LOUGA',
                MATAM: 'MATAM',
                SAINT_LOUIS: 'SAINT_LOUIS',
                SEDHIOU: 'SEDHIOU',
                TAMBACOUNDA: 'TAMBACOUNDA',
                THIES: 'THIES',
                ZIGINCHOR: 'ZIGINCHOR',
                AUTRE: 'AUTRE'
              }[dossier()!.regionResidence ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.depResidence">Dep Residence</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomDepartement.' + (dossier()!.depResidence ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                GUEDIAWAYE: 'GUEDIAWAYE',
                PIKINE: 'PIKINE',
                RUFISQUE: 'RUFISQUE',
                BAMBAEY: 'BAMBAEY',
                DIOURBEL: 'DIOURBEL',
                MBACKE: 'MBACKE',
                FATICK: 'FATICK',
                FOUNDIOUGNE: 'FOUNDIOUGNE',
                GOSSAS: 'GOSSAS',
                BIRKILANE: 'BIRKILANE',
                KAFFRINE: 'KAFFRINE',
                KOUNGHEUR: 'KOUNGHEUR',
                MALEM_HODAR: 'MALEM_HODAR',
                GUINGUINEO: 'GUINGUINEO',
                KAOLOACK: 'KAOLOACK',
                NIORO: 'NIORO',
                KEDOUGOU: 'KEDOUGOU',
                SALAMATA: 'SALAMATA',
                SARAYA: 'SARAYA',
                KOLDA: 'KOLDA',
                MEDINA_YORO_FOULAH: 'MEDINA_YORO_FOULAH',
                VELINGARA: 'VELINGARA',
                KEBEMERE: 'KEBEMERE',
                LINGUERE: 'LINGUERE',
                LOUGA: 'LOUGA',
                KANELKANEL: 'KANELKANEL',
                MATAM: 'MATAM',
                RANEROU_FERLO: 'RANEROU_FERLO',
                DAGANA: 'DAGANA',
                PODOR: 'PODOR',
                SAINT_LOUIS: 'SAINT_LOUIS',
                BOUNKILING: 'BOUNKILING',
                GOUDOMP: 'GOUDOMP',
                SEDHIOU: 'SEDHIOU',
                BAKEL: 'BAKEL',
                GOUDIRY: 'GOUDIRY',
                KOUMPENTOUM: 'KOUMPENTOUM',
                TAMBACOUNDA: 'TAMBACOUNDA',
                MBOUR: 'MBOUR',
                THIES: 'THIES',
                TIVAOUANE: 'TIVAOUANE',
                BIGNONA: 'BIGNONA',
                OUSSOUYE: 'OUSSOUYE',
                ZICHUINCHOR: 'ZICHUINCHOR',
                AUTRE: 'AUTRE'
              }[dossier()!.depResidence ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.adresseResidence">Adresse Residence</span></dt>
          <dd>
            <span>{{ dossier()!.adresseResidence }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.telephone1">Telephone 1</span></dt>
          <dd>
            <span>{{ dossier()!.telephone1 }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.telephone2">Telephone 2</span></dt>
          <dd>
            <span>{{ dossier()!.telephone2 }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.email">Email</span></dt>
          <dd>
            <span>{{ dossier()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.niveauFormation">Niveau Formation</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NiveauEtude.' + (dossier()!.niveauFormation ?? 'null')">{{
              {
                null: '',
                CINQUIEME: 'CINQUIEME',
                QUATRIEME: 'QUATRIEME',
                TROISIEME: 'TROISIEME',
                BFEM: 'BFEM',
                EQUIVALENT_BFEM: 'EQUIVALENT_BFEM',
                SECONDE: 'SECONDE',
                PREMIERE: 'PREMIERE',
                TERMINAL: 'TERMINAL',
                BAC: 'BAC',
                EQUIVALENT_BAC: 'EQUIVALENT_BAC',
                LICENCE1: 'LICENCE1',
                LICENCE2: 'LICENCE2',
                LICEMCE3: 'LICEMCE3',
                MASTER: 'MASTER',
                DOCTORAT: 'DOCTORAT',
                ATTESTATION: 'ATTESTATION',
                CAP: 'CAP',
                CAP1: 'CAP1',
                CAP2: 'CAP2',
                CAP3: 'CAP3',
                CPS: 'CPS',
                BEP: 'BEP',
                BEP1: 'BEP1',
                BEP2: 'BEP2',
                BT: 'BT',
                BT1: 'BT1',
                BT2: 'BT2',
                BT3: 'BT3',
                BTS: 'BTS',
                BTS1: 'BTS1',
                BTS2: 'BTS2',
                CQP: 'CQP',
                CHEFEQUIPE: 'CHEFEQUIPE',
                CHEF_DE_CHANTIER: 'CHEF_DE_CHANTIER',
                TECHNICIENSPECIALISE: 'TECHNICIENSPECIALISE',
                METP: 'METP',
                BTI: 'BTI',
                TITRE_PROFESSIONNEL: 'TITRE_PROFESSIONNEL',
                AUTRES: 'AUTRES'
              }[dossier()!.niveauFormation ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.specialite">Specialite</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomFiliere.' + (dossier()!.specialite ?? 'null')">{{
              {
                null: '',
                AGRI_ELEVAGE: 'AGRI_ELEVAGE',
                AGRICULTURE: 'AGRICULTURE',
                PECHE: 'PECHE',
                ELEVAGE: 'ELEVAGE',
                MINE_CARRIERES: 'MINE_CARRIERES',
                ARTISANAT: 'ARTISANAT',
                BATIMAT_TRAVAUX_PUBLIQUES: 'BATIMAT_TRAVAUX_PUBLIQUES',
                MECANIQUE: 'MECANIQUE',
                MENUISERIE_BOIS: 'MENUISERIE_BOIS',
                HABILLEMENT: 'HABILLEMENT',
                AGROALIMENTAIRE: 'AGROALIMENTAIRE',
                ELECTROTECHNIQUE_ELECTRIQUE_ENERGETIQUE: 'ELECTROTECHNIQUE_ELECTRIQUE_ENERGETIQUE',
                HYDRAULIQUE: 'HYDRAULIQUE',
                STRUCTURE_METALLIQUE: 'STRUCTURE_METALLIQUE',
                STRUCTURE_PLASTIQUE: 'STRUCTURE_PLASTIQUE',
                BEAUTE_ESTHETIQUE: 'BEAUTE_ESTHETIQUE',
                DEVELOPPEMENT_TERRITORIAL: 'DEVELOPPEMENT_TERRITORIAL',
                DROIT: 'DROIT',
                ECONOMIE_GESTION_COMMERCE_LOGISTIQUE: 'ECONOMIE_GESTION_COMMERCE_LOGISTIQUE',
                INSDUSTRIE_CULTURELLE_ET_CREATIVE: 'INSDUSTRIE_CULTURELLE_ET_CREATIVE',
                INFORMATIQUE_ET_NUMERIQUE: 'INFORMATIQUE_ET_NUMERIQUE',
                RESTAURATION_ET_HOTELLORIE: 'RESTAURATION_ET_HOTELLORIE',
                SANTE_BIOLOGIE_CHIMIE: 'SANTE_BIOLOGIE_CHIMIE',
                SPORT: 'SPORT',
                TOURISME: 'TOURISME',
                ENVIRONNEMENT: 'ENVIRONNEMENT',
                AUTRES: 'AUTRES'
              }[dossier()!.specialite ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.intituleDiplome">Intitule Diplome</span></dt>
          <dd>
            <span>{{ dossier()!.intituleDiplome }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.diplome">Diplome</span></dt>
          <dd>
            @if (dossier()!.diplome) {
              <div>
                <a (click)="openFile(dossier()!.diplome ?? '', dossier()!.diplomeContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ dossier()!.diplomeContentType }}, {{ byteSize(dossier()!.diplome ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.anneeObtention">Annee Obtention</span></dt>
          <dd>
            <span>{{ dossier()!.anneeObtention | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.lieuObtention">Lieu Obtention</span></dt>
          <dd>
            <span>{{ dossier()!.lieuObtention }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.cv">Cv</span></dt>
          <dd>
            @if (dossier()!.cv) {
              <div>
                <a (click)="openFile(dossier()!.cv ?? '', dossier()!.cvContentType)" jhiTranslate="entity.action.open">Ouvrir</a>
                {{ dossier()!.cvContentType }}, {{ byteSize(dossier()!.cv ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.lettreMotivation">Lettre Motivation</span></dt>
          <dd>
            @if (dossier()!.lettreMotivation) {
              <div>
                <a
                  (click)="openFile(dossier()!.lettreMotivation ?? '', dossier()!.lettreMotivationContentType)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                >
                {{ dossier()!.lettreMotivationContentType }}, {{ byteSize(dossier()!.lettreMotivation ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.profession">Profession</span></dt>
          <dd>
            <span>{{ dossier()!.profession }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.autreSpecialite">Autre Specialite</span></dt>
          <dd>
            <span>{{ dossier()!.autreSpecialite }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.nomCompetence">Nom Competence</span></dt>
          <dd>
            <span>{{ dossier()!.nomCompetence }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.niveauCompetence">Niveau Competence</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NIVEAUCOMP.' + (dossier()!.niveauCompetence ?? 'null')">{{
              { null: '', DEBUTANT: 'DEBUTANT', INTERMEDIAIRE: 'INTERMEDIAIRE', EXPERT: 'EXPERT' }[dossier()!.niveauCompetence ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.intituleExperience">Intitule Experience</span></dt>
          <dd>
            <span>{{ dossier()!.intituleExperience }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.posteOccupe">Poste Occupe</span></dt>
          <dd>
            <span>{{ dossier()!.posteOccupe }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ dossier()!.dateDebut | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ dossier()!.dateFin | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.nomEntreprise">Nom Entreprise</span></dt>
          <dd>
            <span>{{ dossier()!.nomEntreprise }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.mission">Mission</span></dt>
          <dd>
            <span>{{ dossier()!.mission }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.eleve">Eleve</span></dt>
          <dd>
            @if (dossier()!.eleve) {
              <div>
                <a [routerLink]="['/eleve', dossier()!.eleve?.id, 'view']">{{ dossier()!.eleve?.niveauEtude }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.etudiant">Etudiant</span></dt>
          <dd>
            @if (dossier()!.etudiant) {
              <div>
                <a [routerLink]="['/etudiant', dossier()!.etudiant?.id, 'view']">{{ dossier()!.etudiant?.carteEtudiant }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gdf1App.dossier.professionnel">Professionnel</span></dt>
          <dd>
            @if (dossier()!.professionnel) {
              <div>
                <a [routerLink]="['/professionnel', dossier()!.professionnel?.id, 'view']">{{ dossier()!.professionnel?.profession }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/dossier', dossier()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
