<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (etudiant()) {
      <div>
        <h2 data-cy="etudiantDetailsHeading"><span jhiTranslate="gdf1App.etudiant.detail.title">Etudiant</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ etudiant()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.carteEtudiant">Carte Etudiant</span></dt>
          <dd>
            <span>{{ etudiant()!.carteEtudiant }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.nom">Nom</span></dt>
          <dd>
            <span>{{ etudiant()!.nom }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.prenom">Prenom</span></dt>
          <dd>
            <span>{{ etudiant()!.prenom }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.dateNaiss">Date Naiss</span></dt>
          <dd>
            <span>{{ etudiant()!.dateNaiss | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.lieuNaiss">Lieu Naiss</span></dt>
          <dd>
            <span>{{ etudiant()!.lieuNaiss }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.sexe">Sexe</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.Sexe.' + (etudiant()!.sexe ?? 'null')">{{
              { null: '', HOMME: 'HOMME', FEMME: 'FEMME' }[etudiant()!.sexe ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.telephone">Telephone</span></dt>
          <dd>
            <span>{{ etudiant()!.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.adressePhysique">Adresse Physique</span></dt>
          <dd>
            <span>{{ etudiant()!.adressePhysique }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.regionResidence">Region Residence</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomRegion.' + (etudiant()!.regionResidence ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                DIOURBEL: 'DIOURBEL',
                FATICK: 'FATICK',
                KAFFRINE: 'KAFFRINE',
                KAOLACK: 'KAOLACK',
                KEDOUGOU: 'KEDOUGOU',
                KOLDA: 'KOLDA',
                LOUGA: 'LOUGA',
                MATAM: 'MATAM',
                SAINT_LOUIS: 'SAINT_LOUIS',
                SEDHIOU: 'SEDHIOU',
                TAMBACOUNDA: 'TAMBACOUNDA',
                THIES: 'THIES',
                ZIGINCHOR: 'ZIGINCHOR',
                AUTRE: 'AUTRE'
              }[etudiant()!.regionResidence ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.departResidence">Depart Residence</span></dt>
          <dd>
            <span [jhiTranslate]="'gdf1App.NomDepartement.' + (etudiant()!.departResidence ?? 'null')">{{
              {
                null: '',
                DAKAR: 'DAKAR',
                GUEDIAWAYE: 'GUEDIAWAYE',
                PIKINE: 'PIKINE',
                RUFISQUE: 'RUFISQUE',
                BAMBAEY: 'BAMBAEY',
                DIOURBEL: 'DIOURBEL',
                MBACKE: 'MBACKE',
                FATICK: 'FATICK',
                FOUNDIOUGNE: 'FOUNDIOUGNE',
                GOSSAS: 'GOSSAS',
                BIRKILANE: 'BIRKILANE',
                KAFFRINE: 'KAFFRINE',
                KOUNGHEUR: 'KOUNGHEUR',
                MALEM_HODAR: 'MALEM_HODAR',
                GUINGUINEO: 'GUINGUINEO',
                KAOLOACK: 'KAOLOACK',
                NIORO: 'NIORO',
                KEDOUGOU: 'KEDOUGOU',
                SALAMATA: 'SALAMATA',
                SARAYA: 'SARAYA',
                KOLDA: 'KOLDA',
                MEDINA_YORO_FOULAH: 'MEDINA_YORO_FOULAH',
                VELINGARA: 'VELINGARA',
                KEBEMERE: 'KEBEMERE',
                LINGUERE: 'LINGUERE',
                LOUGA: 'LOUGA',
                KANELKANEL: 'KANELKANEL',
                MATAM: 'MATAM',
                RANEROU_FERLO: 'RANEROU_FERLO',
                DAGANA: 'DAGANA',
                PODOR: 'PODOR',
                SAINT_LOUIS: 'SAINT_LOUIS',
                BOUNKILING: 'BOUNKILING',
                GOUDOMP: 'GOUDOMP',
                SEDHIOU: 'SEDHIOU',
                BAKEL: 'BAKEL',
                GOUDIRY: 'GOUDIRY',
                KOUMPENTOUM: 'KOUMPENTOUM',
                TAMBACOUNDA: 'TAMBACOUNDA',
                MBOUR: 'MBOUR',
                THIES: 'THIES',
                TIVAOUANE: 'TIVAOUANE',
                BIGNONA: 'BIGNONA',
                OUSSOUYE: 'OUSSOUYE',
                ZICHUINCHOR: 'ZICHUINCHOR',
                AUTRE: 'AUTRE'
              }[etudiant()!.departResidence ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.email">Email</span></dt>
          <dd>
            <span>{{ etudiant()!.email }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.cni">Cni</span></dt>
          <dd>
            <span>{{ etudiant()!.cni }}</span>
          </dd>
          <dt><span jhiTranslate="gdf1App.etudiant.user">User</span></dt>
          <dd>
            <span>{{ etudiant()!.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/etudiant', etudiant()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
