<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-formation-continue-heading"
        data-cy="FormationContinueCreateUpdateHeading"
        jhiTranslate="gdf1App.formationContinue.home.createOrEditLabel"
      >
        Créer ou éditer un Formation Continue
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gdf1App.formationContinue.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nomFormationC" jhiTranslate="gdf1App.formationContinue.nomFormationC">Nom Formation C</label>
          <input
            type="text"
            class="form-control"
            name="nomFormationC"
            id="field_nomFormationC"
            data-cy="nomFormationC"
            formControlName="nomFormationC"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duree" jhiTranslate="gdf1App.formationContinue.duree">Duree</label>
          <input type="text" class="form-control" name="duree" id="field_duree" data-cy="duree" formControlName="duree" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_admission" jhiTranslate="gdf1App.formationContinue.admission">Admission</label>
          <select class="form-control" name="admission" formControlName="admission" id="field_admission" data-cy="admission">
            <option [ngValue]="null">{{ 'gdf1App.Admission.null' | translate }}</option>
            @for (admission of admissionValues; track $index) {
              <option [value]="admission">{{ 'gdf1App.Admission.' + admission | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_diplomeRequis" jhiTranslate="gdf1App.formationContinue.diplomeRequis">Diplome Requis</label>
          <select
            class="form-control"
            name="diplomeRequis"
            formControlName="diplomeRequis"
            id="field_diplomeRequis"
            data-cy="diplomeRequis"
          >
            <option [ngValue]="null">{{ 'gdf1App.DiplomeRequis.null' | translate }}</option>
            @for (diplomeRequis of diplomeRequisValues; track $index) {
              <option [value]="diplomeRequis">{{ 'gdf1App.DiplomeRequis.' + diplomeRequis | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_niveauEtude" jhiTranslate="gdf1App.formationContinue.niveauEtude">Niveau Etude</label>
          <select class="form-control" name="niveauEtude" formControlName="niveauEtude" id="field_niveauEtude" data-cy="niveauEtude">
            <option [ngValue]="null">{{ 'gdf1App.NiveauEtude.null' | translate }}</option>
            @for (niveauEtude of niveauEtudeValues; track $index) {
              <option [value]="niveauEtude">{{ 'gdf1App.NiveauEtude.' + niveauEtude | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_filiere" jhiTranslate="gdf1App.formationContinue.filiere">Filiere</label>
          <select class="form-control" name="filiere" formControlName="filiere" id="field_filiere" data-cy="filiere">
            <option [ngValue]="null">{{ 'gdf1App.NomFiliere.null' | translate }}</option>
            @for (nomFiliere of nomFiliereValues; track $index) {
              <option [value]="nomFiliere">{{ 'gdf1App.NomFiliere.' + nomFiliere | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_serie" jhiTranslate="gdf1App.formationContinue.serie">Serie</label>
          <select class="form-control" name="serie" formControlName="serie" id="field_serie" data-cy="serie">
            <option [ngValue]="null">{{ 'gdf1App.NomSerie.null' | translate }}</option>
            @for (nomSerie of nomSerieValues; track $index) {
              <option [value]="nomSerie">{{ 'gdf1App.NomSerie.' + nomSerie | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cfp" jhiTranslate="gdf1App.formationContinue.cfp">Cfp</label>
          <select class="form-control" name="cfp" formControlName="cfp" id="field_cfp" data-cy="cfp">
            <option [ngValue]="null">{{ 'gdf1App.CFP.null' | translate }}</option>
            @for (cFP of cFPValues; track $index) {
              <option [value]="cFP">{{ 'gdf1App.CFP.' + cFP | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lycee" jhiTranslate="gdf1App.formationContinue.lycee">Lycee</label>
          <select class="form-control" name="lycee" formControlName="lycee" id="field_lycee" data-cy="lycee">
            <option [ngValue]="null">{{ 'gdf1App.LYCEE.null' | translate }}</option>
            @for (lYCEE of lYCEEValues; track $index) {
              <option [value]="lYCEE">{{ 'gdf1App.LYCEE.' + lYCEE | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ficheFormation" jhiTranslate="gdf1App.formationContinue.ficheFormation"
            >Fiche Formation</label
          >
          <div>
            @if (editForm.get('ficheFormation')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('ficheFormation')!.value!, editForm.get('ficheFormationContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Ouvrir</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('ficheFormationContentType')!.value }}, {{ byteSize(editForm.get('ficheFormation')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ ficheFormation: undefined, ficheFormationContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_ficheFormation"
              data-cy="ficheFormation"
              (change)="setFileData($event, 'ficheFormation', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="ficheFormation"
            id="field_ficheFormation"
            data-cy="ficheFormation"
            formControlName="ficheFormation"
          />
          <input
            type="hidden"
            class="form-control"
            name="ficheFormationContentType"
            id="field_ficheFormationContentType"
            formControlName="ficheFormationContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_libellePC" jhiTranslate="gdf1App.formationContinue.libellePC">Libelle PC</label>
          <input type="text" class="form-control" name="libellePC" id="field_libellePC" data-cy="libellePC" formControlName="libellePC" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_montantPriseEnCharge" jhiTranslate="gdf1App.formationContinue.montantPriseEnCharge"
            >Montant Prise En Charge</label
          >
          <input
            type="number"
            class="form-control"
            name="montantPriseEnCharge"
            id="field_montantPriseEnCharge"
            data-cy="montantPriseEnCharge"
            formControlName="montantPriseEnCharge"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_coutFormation" jhiTranslate="gdf1App.formationContinue.coutFormation">Cout Formation</label>
          <input
            type="number"
            class="form-control"
            name="coutFormation"
            id="field_coutFormation"
            data-cy="coutFormation"
            formControlName="coutFormation"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailPC" jhiTranslate="gdf1App.formationContinue.detailPC">Detail PC</label>
          <textarea class="form-control" name="detailPC" id="field_detailPC" data-cy="detailPC" formControlName="detailPC"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomDiplome" jhiTranslate="gdf1App.formationContinue.nomDiplome">Nom Diplome</label>
          <select class="form-control" name="nomDiplome" formControlName="nomDiplome" id="field_nomDiplome" data-cy="nomDiplome">
            <option [ngValue]="null">{{ 'gdf1App.DiplomeObtenu.null' | translate }}</option>
            @for (diplomeObtenu of diplomeObtenuValues; track $index) {
              <option [value]="diplomeObtenu">{{ 'gdf1App.DiplomeObtenu.' + diplomeObtenu | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_autreDiplome" jhiTranslate="gdf1App.formationContinue.autreDiplome">Autre Diplome</label>
          <input
            type="text"
            class="form-control"
            name="autreDiplome"
            id="field_autreDiplome"
            data-cy="autreDiplome"
            formControlName="autreDiplome"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nomDebouche" jhiTranslate="gdf1App.formationContinue.nomDebouche">Nom Debouche</label>
          <input
            type="text"
            class="form-control"
            name="nomDebouche"
            id="field_nomDebouche"
            data-cy="nomDebouche"
            formControlName="nomDebouche"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_formation" jhiTranslate="gdf1App.formationContinue.formation">Formation</label>
          <select
            class="form-control"
            id="field_formation"
            data-cy="formation"
            name="formation"
            formControlName="formation"
            [compareWith]="compareFormation"
          >
            <option [ngValue]="null"></option>
            @for (formationOption of formationsCollection; track $index) {
              <option [ngValue]="formationOption">{{ formationOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
