<div>
  <h2 id="page-heading" data-cy="DemandeurHeading">
    <span jhiTranslate="gdf1App.demandeur.home.title">Demandeurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gdf1App.demandeur.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demandeur"
        [routerLink]="['/demandeur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gdf1App.demandeur.home.createLabel">Créer un nouveau Demandeur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (demandeurs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gdf1App.demandeur.home.notFound">Aucun Demandeur trouvé</span>
    </div>
  }

  @if (demandeurs && demandeurs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.prenom">Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateNaiss">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.dateNaiss">Date Naiss</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lieuNaiss">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.lieuNaiss">Lieu Naiss</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.sexe">Sexe</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.telephone">Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="profil">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.profil">Profil</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dossier.numDossier">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.dossier">Dossier</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="eleve.cni">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.eleve">Eleve</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etudiant.cni">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.etudiant">Etudiant</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="professionnel.cni">
              <div class="d-flex">
                <span jhiTranslate="gdf1App.demandeur.professionnel">Professionnel</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (demandeur of demandeurs; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/demandeur', demandeur.id, 'view']">{{ demandeur.id }}</a>
              </td>
              <td>{{ demandeur.nom }}</td>
              <td>{{ demandeur.prenom }}</td>
              <td>{{ demandeur.dateNaiss | formatMediumDate }}</td>
              <td>{{ demandeur.lieuNaiss }}</td>
              <td [jhiTranslate]="'gdf1App.Sexe.' + (demandeur.sexe ?? 'null')">
                {{ { null: '', HOMME: 'HOMME', FEMME: 'FEMME' }[demandeur.sexe ?? 'null'] }}
              </td>
              <td>{{ demandeur.telephone }}</td>
              <td>{{ demandeur.email }}</td>
              <td [jhiTranslate]="'gdf1App.Profil.' + (demandeur.profil ?? 'null')">
                {{ { null: '', ELEVE: 'ELEVE', ETUDIANT: 'ETUDIANT', PROFESSIONNEL: 'PROFESSIONNEL' }[demandeur.profil ?? 'null'] }}
              </td>
              <td>
                {{ demandeur.user?.login }}
              </td>
              <td>
                @if (demandeur.dossier) {
                  <div>
                    <a [routerLink]="['/dossier', demandeur.dossier.id, 'view']">{{ demandeur.dossier.numDossier }}</a>
                  </div>
                }
              </td>
              <td>
                @if (demandeur.eleve) {
                  <div>
                    <a [routerLink]="['/eleve', demandeur.eleve.id, 'view']">{{ demandeur.eleve.cni }}</a>
                  </div>
                }
              </td>
              <td>
                @if (demandeur.etudiant) {
                  <div>
                    <a [routerLink]="['/etudiant', demandeur.etudiant.id, 'view']">{{ demandeur.etudiant.cni }}</a>
                  </div>
                }
              </td>
              <td>
                @if (demandeur.professionnel) {
                  <div>
                    <a [routerLink]="['/professionnel', demandeur.professionnel.id, 'view']">{{ demandeur.professionnel.cni }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/demandeur', demandeur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/demandeur', demandeur.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(demandeur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
